body {
    background-color: #171717 !important;
    color: #C8A35D !important;
}

h1 {
    font-family: Cinzel;
}

h2,
h3 {
    font-family: Cormorant;
}

#main-text {
    margin-top: 200px;
    margin-bottom: -35px;
    font-size: 75px;
}


#second-text {
    font-size: 45px;
    opacity: 50%;
}

#nav-logo {
    display: block;
    margin: 10px auto 0 auto;
    width: 200px;
}

#landing-img {
    margin-top: 120px;
    width: 100%;
}

#landing-gallery {
    margin-top: 150px;
}

#landing-gallery img {
    width: 100%;
    padding-bottom: 24px;
}

#gallery-button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 17px 0;
    color: #C8A35D;
    background-color: #171717;
    border: 2px solid #C8A35D;
    border-radius: 50px;
    width: 200px;
    height: auto;
}

#gallery-button:hover {
    background-color: #C8A35D;
    color: black;
    font-weight: bolder;
}

#gallery-button h3 {
    margin-bottom: 0;
    font-size: 28px;
}

#contact h2 {
    margin: 130px 0 -20px 0;
    text-align: center;
    font-family: Cinzel;
    font-size: 45px;
}

#map {
    display: block;
    margin: 50px auto 0 auto;
    width: 510px;
    height: 300px;
}

#social-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}


#fb-logo {
    width: 48px;
    height: 48px;
}

#instagram-logo {
    width: 50px;
    height: 50px;

}

#footer {
    margin-top: 130px;
    width: 100%;
    background-color: #0b0b0b;
    height: 250px;
}

@media (max-width: 1200px) {
    #main-text {
        font-size: 70px;
    }

    #second-text {
        font-size: 45px;
    }
}

@media(max-width: 992px) {
    #gallery-button {
        width: 20%;
        padding: 15px 0;
    }

    #gallery-button h3 {
        font-size: 22px;
    }
}

@media (max-width: 940px) {
    #main-text {
        font-size: 56px;
    }

    #second-text {
        font-size: 31px;
    }
}

@media (max-width: 768px) {
    #main-text {
        text-align: center;
        font-size: 75px;
    }

    #second-text {
        text-align: center;
        font-size: 45px;
    }

    #gallery-button {
        width: 28%;
        padding: 15px 0;
    }

    #gallery-button h3 {
        font-size: 28px;
    }
}

@media(max-width: 680px) {
    #gallery-button {
        padding: 12px 0;
    }

    #gallery-button h3 {
        font-size: 22px;
    }
}

@media(max-width: 560px) {
    #main-text {
        font-size: 59px;
    }

    #contact h2,
    #second-text {
        font-size: 30px;
    }

    #gallery-button {
        padding: 10px 0;
        width: 39%;
    }

    #gallery-button h3 {
        font-size: 20px;
    }

    #map {
        width: 90%;
    }

    #fb-logo {
        width: 35px;
        height: 35px;
    }

    #instagram-logo {
        width: 38px;
        height: 38px;

    }
}

@media(max-width: 413px) {
    #main-text {
        font-size: 53px;
    }
}