body {
    background-color: #171717 !important;
    color: #C8A35D !important;
}

h1 {
    font-family: Cinzel;
}

h2,
h3 {
    font-family: Cormorant;
}

#temp_opening img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    border: #C8A35D 2px solid;
    width: 80%;
    box-shadow: 0 0 20px 2px #c8a25d71;
    margin-bottom: 50px;
}

#main-text {
    /*margin-top: 200px;*/
    margin-top: 150px;
    margin-bottom: -35px;
    font-size: 75px;
}


.second-text {
    font-size: 45px;
    opacity: 50%;
}

#entry_fee {
    margin-top: 50px;
    opacity: 100%;
}

#nav-logo {
    display: block;
    margin: 10px auto 0 auto;
    width: 200px;
}


#landing-img {
    /*margin-top: 120px;*/
    margin-top: 50px;
    width: 100%;
}

#landing-gallery {
    margin-top: 150px;
}

#landing-gallery img {
    width: 100%;
    padding-bottom: 24px;
}

#gallery-button {
    display: block;
    margin: 10px auto 0 auto;
    padding: 17px 0;
    color: #C8A35D;
    background-color: #171717;
    border: 2px solid #C8A35D;
    border-radius: 50px;
    width: 200px;
    height: auto;
}

#gallery-button:hover {
    background-color: #C8A35D;
    color: black;
    font-weight: bolder;
}

#gallery-link {
    text-decoration: none;
}

#gallery-button h3 {
    margin-bottom: 0;
    font-size: 28px;
}

.opening-weekend {
    background-color: #C8A35D;
    margin-top: 100px;
    width: 755px;
    height: 537px;
    border: 1px solid #C8A35D;
    border-radius: 20px;
}

.opening-weekend h2,
.opening-weekend h3 {
    font-weight: bold;
    color: #000;
    text-align: center;
}

.opening-weekend h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Cinzel, sans-serif;
}

.opening-weekend h3 {
    font-size: 29px;
    margin-top: -5px;
}

.opening-weekend img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}

#contact {
    margin-bottom: 50px;
}

#info-section h2 {
    margin: 50px 0 -20px 0;
    text-align: center;
    font-family: Cinzel;
    font-size: 45px;
}

.info-corners {
    height: 480px;
    padding: 40px 60px 14px 60px;
    margin-top: 50px;
    border: solid 1px #C8A35D;
    border-radius: 20px;
}

.info-container article {
    padding: 0 100px;
}



#opening h3 {
    color: #C8A35D;
}

.open {
    text-align: end;
}

#map {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 330px;
}

#social-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}


#fb-logo {
    width: 48px;
    height: 48px;
}

#instagram-logo,
#tiktok-logo,
#phone {
    width: 50px;
    height: 50px;
}



#social-container p {
    text-align: center;
    font-family: Cinzel;
    font-size: 32px;
    margin: 0 !important;
}



#footer {
    margin-top: 130px;
    width: 100%;
    background-color: #0b0b0b;
    height: 250px;
}

@media(max-width:1600px) {
    .info-container article {
        padding: 50px;
    }

    .info-corners {
        padding-right: 50px;
        padding-left: 50px;
    }

    #social-container p {
        font-size: 22px;
    }
}

@media (max-width: 1200px) {
    #main-text {
        font-size: 70px;
    }

    #second-text {
        font-size: 45px;
    }

    .info-container article {
        padding: 30px;
    }

    .info-corners {
        padding: 20px 30px 7px 30px;
        height: 450px;
    }

    #social-container p {
        font-size: 20px;
    }


}

@media(max-width: 992px) {
    #gallery-button {
        width: 20%;
        padding: 15px 0;
    }

    #gallery-button h3 {
        font-size: 22px;
    }

    .opening-weekend {
        width: 600px;
        height: 455px;
    }


    #social-container p {
        margin-top: -10px;
    }


}

@media (max-width: 940px) {
    #main-text {
        font-size: 56px;
    }

    #second-text {
        font-size: 31px;
    }

    #opening h2 {
        font-size: 38px;
    }

    #fb-logo {
        width: 30px;
        height: 30px;
    }

    #instagram-logo,
    #tiktok-logo,
    #phone {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 768px) {

    #nav-logo {
        width: 125px;
    }


    #main-text {
        margin-top: 90px;
        text-align: center;
        font-size: 75px;
    }

    #second-text {
        text-align: center;
        font-size: 45px;
    }

    #landing-img {
        margin-top: 100px;
    }

    #gallery-button {
        width: 28%;
        padding: 15px 0;
    }

    #gallery-button h3 {
        font-size: 28px;
    }

    #social-container p {
        margin-top: 0px;
    }


}

@media(max-width: 680px) {
    #temp_opening img {
        margin-bottom: 0;
    }

    #gallery-button {
        padding: 12px 0;
    }

    #gallery-button h3 {
        font-size: 22px;
    }

    .opening-weekend {
        width: 90%;
        height: 455px;
    }
}

@media(max-width: 560px) {


    #main-text {
        font-size: 59px;
    }

    #contact h2,
    #second-text {
        font-size: 30px;
    }

    #gallery-button {
        padding: 10px 0;
        width: 39%;
    }

    #gallery-button h3 {
        font-size: 20px;
    }

    #map {
        width: 90%;
    }

    #fb-logo {
        width: 35px;
        height: 35px;
    }

    #instagram-logo {
        width: 38px;
        height: 38px;

    }

    #phone {
        width: 38px;
    }

    .opening-weekend {
        height: 400px;
    }

}

@media(max-width: 413px) {
    #main-text {
        font-size: 53px;
    }

    .opening-weekend {
        height: 360px;
    }

}