h1,
h2 {
    color: #2A6372;
}

main h1 {
    margin-top: 150px;
    font-size: 70px;
    width: 600px;
    font-weight: 700;
}

main h2 {
    margin: 0;
    width: 640px;
    font-size: 32px;
    opacity: 50%;
}

main a h2 {
    width: 423px;
    opacity: 100%;
}

main a {
    background-color: #FFFBF1;
    border-radius: 50px;
    text-decoration: none;
}


.button {
    cursor: pointer;
    margin-top: 65px;
    margin-left: 380px;
    padding: 18px 20px;
    width: 460px;
    background-color: #FFFBF1;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px #B3AC99;
    /* #000 30%*/
    padding: 20px;
}

.button:hover {
    background-color: #f2eee5;
}

#bubbles .bg {
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: #FFFBF1;
    padding: 50px 10px;
    border-radius: 50%;
    box-shadow: inset 0 0 15px 3px #899A93;


}

#bubbles p {
    margin: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: bottom;

}


#bubbles #main {
    position: absolute;
    font-size: 30px;
    top: 246px;
    right: 84px;
    height: 250px;
    width: 250px;
    padding: 100px 25px;
}

#_1 {
    top: 80px;
    right: 80px;
    z-index: 100;
}


#_2 {
    padding: 35px 10px !important;
    top: 120px;
    right: 265px;
}

#_3 {
    top: 290px;
    right: 350px;
}

#_4 {
    right: 265px;
    bottom: 70px;
}

#_5 {
    right: 80px;
    bottom: 30px;

}

@media (max-width: 1400px) {
    .button {
        margin-left: 240px;
    }
}

@media (max-width: 1200px) {
    main h1 {
        width: 492px;
    }

    main h2 {
        width: 480px;
    }

    .button {
        margin-left: 112px;
    }

    #bubbles #main {
        right: 55px;
    }

    #_1,
    #_5 {
        right: 35px;
    }


    #_2,
    #_4 {
        right: 235px;
    }

    #_3 {
        right: 315px;
    }
}

@media (max-width: 992px) {
    main h1 {
        margin: 50px auto 0 auto;
        text-align: center;
    }

    main h2 {
        width: 492px;
        margin-right: auto;
        margin-left: auto;
        text-align: justify;
    }

    .button {
        margin: 40px auto 0 auto;
    }

    #bubbles #main {
        top: 762px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }


    #_1 {
        top: 860px;
        left: 66%;
    }



    #_2 {
        top: 673px;
        left: 61%;
    }

    #_3 {
        top: 590px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #_4 {
        top: 673px;
        right: 61%;
    }

    #_5 {
        top: 860px;
        right: 66%;
    }
}

@media (max-width: 768px) {
    #bubbles #main {
        width: 240px;
        height: 240px;
    }

    #_1 {
        left: 71%;
    }

    #_2 {
        left: 64%;
    }

    #_4 {
        right: 64%;
    }

    #_5 {
        right: 71%;
    }
}

@media (max-width: 576px) {
    main h1 {
        font-size: 48px;
        width: 100%;
        margin-bottom: 3px;
    }

    h2 {
        width: 100% !important;
        font-size: 26px !important;
    }

    .button {
        width: 100%;
        padding: 10px 14px;

    }

    .button h2{
        font-size: 22px !important;
    }

    #bubbles #main {
        width: 240px;
        height: 240px;
    }

    #_1 {
        left: 71%;
    }

    #_2 {
        left: 64%;
    }

    #_4 {
        right: 64%;
    }

    #_5 {
        right: 71%;
    }
}