h1{
    font-size: 55px;
    margin-top: 20px;
    text-align: center;
}
.card {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: #F2F3F5;
    box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.2);
    border-radius: 12px;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: column;
}
.left p{
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.rating{
    display: flex;
    flex-direction: row;
}

.rating img{
    width: 20px;
    margin-right: -5px;
}

.fb{
    width: 20px;
    margin-bottom: 24px;
}

.text{
    margin-top: 10px;
}

/*.bg {
    position: relative;
    width: 600px;
    color: #2A6372;
    font-size: 18px;
    text-align: justify;
    background-color: #FFFBF1;
    margin-top: 60px;
    border: #13404C solid 6px;
    border-radius: 50px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

}

p {
    vertical-align: baseline;
    margin: 0;
}

p span{
    position: absolute;
    right: 30px;
    bottom: 5px;
    font-style: italic;
}

@media (max-width: 1400px) {
    .bg {
        width: 550px;
    }
}

@media (max-width: 1200px) {
    .bg {
        width: 450px;
    }

    #last {
        margin-bottom: 30px;
    }
}

@media (max-width: 916px) {
    .bg {
        width: 370px;
    }
}

@media (max-width: 390px){
    .bg{
        width: 90%;
    }
}*/