body {
    background-color: #385D67;
}

.navbar {
    background-color: #000;
    color: #4A9BB1;
}

.nav-link {
    text-shadow: -1px 1px 20px #b8b8b8
}

h1 {
    font-size: 55px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.card {
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 12px;
    background-color: #637276;
    color: #fff;
    border: 3px solid #2A6372;
    border-radius: 12px;
    box-shadow: 0 0 10px 2px #2A464D;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.left p {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    filter: drop-shadow(0 0 1px black);
}

.rating {
    display: flex;
    flex-direction: row;
}

.rating img {
    width: 20px;
    margin-right: -5px;
}

.fb {
    width: 20px;
    margin-bottom: 24px;
}

.text {
    margin-top: 10px;
    filter: drop-shadow(0 0 1px black);
}