body {
    background-color: #385D67;
}

.navbar {
    background-color: #000;
    color: #4A9BB1;
}

.nav-link {
    text-shadow: -1px 1px 20px #b8b8b8
}

#bg {
    position: absolute;
    z-index: -100;
}

.bg {
    width: 600px;
    color: white;
    font-size: 18px;
    text-align: justify;
    border: 3px solid #13404C;
    background-color: #637276;
    box-shadow: 0 0 10px 0 #2A464D;
    margin-top: 60px;
    border-radius: 50px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

}

p {
    vertical-align: baseline;
    margin: 0;
    filter: drop-shadow(0 0 1px black);

}

@media (max-width: 1400px) {
    .bg {
        width: 550px;
    }
}

@media (max-width: 1200px) {
    .bg {
        width: 450px;
    }

    #last {
        margin-bottom: 30px;
    }
}

@media (max-width: 916px) {
    .bg {
        width: 370px;
    }
}

@media (max-width: 390px) {
    .bg {
        width: 90%;
    }
}